{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage</title>
</head>
<body>
    <form>
        <h1>LOGIN</h1>
        <link rel="stylesheet" href="{% static 'style.css'%}">

        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
        <a><h3>forgot password?</h3></a>

        <button>Login</button>
        
    </form>>

</body>
</html>